<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.minres.scviewer.target" sequenceNumber="138">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2019-12/"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.p2.sdk.feature.jar" version="0.0.0"/> <!-- needed by Linux exectable-->
		<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/> <!-- org.junit for testing -->
		<unit id="org.eclipse.rcptt.core.feature.group" version="0.0.0"/><!-- com.google.guave-->
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://www.opcoach.com/repository/2019-12/"/>
		<unit id="com.opcoach.e4.preferences.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://dist.springsource.org/snapshot/GRECLIPSE/e4.14/"/>
		<unit id="org.codehaus.groovy25.feature.feature.group" version="0.0.0"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
	<vmArgs>-Xms40m -Xmx2G</vmArgs>
</launcherArgs>
</target>